* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family-one: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer-space {
  height: 20rem;
}